/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #373838, #2a2c2c);
  color: #fff;
  overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center; /* Center the navbar content horizontally */
  align-items: center; /* Center the navbar content vertically */
  background: linear-gradient(135deg, #050505, #41494d);
  padding: 15px 30px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Logo Styles */
.navbar .logo p {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.card {
  position: relative;
  width: 100px;
  height: 300px;
}

.default,
.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.hover {
  opacity: 0;
}

.card:hover .hover {
  opacity: 1;
}

.card:hover .default {
  opacity: 0;
}
